.offcanvas{
    background-color: #3c89b6;
    color: black;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    }
  
    .offcanvas-body{
      background-color: #3c89b6;
    }
    .offcanvas-body.nav-link{
      color: rgb(182, 88, 88);
    }
    .offcanvas-header{
      background-color: #3c89b6;
    
    }
    .offcanvasNavbarLabel.titulo{
      color: rgb(14, 7, 7);
      font-weight: bold;
    }
    h2{
      color:whitesmoke;
    }
    h3{
      color: black;
    }
    .lista{
      border: 2px solid;
      border-color: #246991;
      padding-left: 5px;
      background-color: #47a2d6;
    }
    /* Link de los componentes en navbar*/
    a.nav-link{
      font-weight: bold;
      color: black;
    }
    .nav-expanded {
      flex-direction: row !important;
    }
    .navlink-expanded {
      padding-left: 2em !important;
    }
    .btn{
      background-color:blueviolet;
    }
    .carousel .item {
      height: 100px;
      width:200px;
    }
    
    .imgc {
      width:300px;
      height:40px;
    }
    .abg {
      background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .bg {
      background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
      background-attachment: fixed;
      height: 95vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
  
    